<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1>

    <div class="container-portfolio">
      <div class="row">

          <!-- .resume-right -->
          <div class="col-md-6">


              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                  <div class="text_content">Programming Skills</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->

              <div class="skills">
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="85%">
                      <div class="skillbar-title"><span>Wordpress</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">85%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="95%">
                      <div class="skillbar-title"><span>MVC (Razor)</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">95%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="90%">
                      <div class="skillbar-title"><span>Angular.js</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">90%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="80%">
                      <div class="skillbar-title"><span>Kockout.js</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">80%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="75%">
                      <div class="skillbar-title"><span>React.js</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">75%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="60%">
                      <div class="skillbar-title"><span>Node.js</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">60%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="81%">
                      <div class="skillbar-title"><span>Signal R</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">81%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="89%">
                      <div class="skillbar-title"><span>Apache Cordova</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">89%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="82%">
                      <div class="skillbar-title"><span>Xamarin Forms</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">82%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="72%">
                      <div class="skillbar-title"><span>Java</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">72%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="76%">
                      <div class="skillbar-title"><span>PowerShell</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">76%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="92%">
                      <div class="skillbar-title"><span>JavaScript</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">92%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="92%">
                      <div class="skillbar-title"><span>Jquery</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">92%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="82%">
                      <div class="skillbar-title"><span>Jquery Mobile</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">82%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="95%">
                      <div class="skillbar-title"><span>C#</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">95%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="90%">
                      <div class="skillbar-title"><span>HTML5#</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">90%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="87%">
                      <div class="skillbar-title"><span>ASP.NET</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">87%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="73%">
                      <div class="skillbar-title"><span>VB6</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">73%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="76%">
                      <div class="skillbar-title"><span>VB.NET</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">76%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="63%">
                      <div class="skillbar-title"><span>X++</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">63%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="77%">
                      <div class="skillbar-title"><span>WFP XAML</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">77%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="55%">
                      <div class="skillbar-title"><span>Unity development</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">55%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="85%">
                      <div class="skillbar-title"><span>Entity Framwork</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">85%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="70%">
                      <div class="skillbar-title"><span>Azure </span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">70%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="71%">
                      <div class="skillbar-title"><span>PHP</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">71%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="69%">
                      <div class="skillbar-title"><span>SharePoint</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">69%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="68%">
                      <div class="skillbar-title"><span>Dynamics 365</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">68%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="72%">
                      <div class="skillbar-title"><span>Dynamics AX 2012</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">72%</div>
                  </div>
                  <!-- /.skillbar -->
              </div>

              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                  <div class="text_content">Designs skills</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->

              <div class="skills">


                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="90%">
                      <div class="skillbar-title"><span>CSS3</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">80%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="65%">
                      <div class="skillbar-title"><span>Photoshop</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">65%</div>
                  </div>

                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="75%">
                      <div class="skillbar-title"><span>Paint.Net</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">75%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="60%">
                      <div class="skillbar-title"><span>Microsoft Blend</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">60%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="86%">
                      <div class="skillbar-title"><span>Ionic</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">86%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="88%">
                      <div class="skillbar-title"><span>Bootstrap</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">88%</div>
                  </div>
                  <!-- /.skillbar -->
              </div>

              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                  <div class="text_content">BI & Database</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->

              <div class="skills">
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="82%">
                      <div class="skillbar-title"><span>Crystal Reports</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">82%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="78%">
                      <div class="skillbar-title"><span>Azure SQL Server</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">78%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="72%">
                      <div class="skillbar-title"><span>Power BI</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">72%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="89%">
                      <div class="skillbar-title"><span>Microsoft SQL Server</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">89%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="82%">
                      <div class="skillbar-title"><span>MySQL</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">82%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="81%">
                      <div class="skillbar-title"><span>SQlite</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">81%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="81%">
                      <div class="skillbar-title"><span>SSIS</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">81%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="63%">
                      <div class="skillbar-title"><span>SSAS</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">63%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="82%">
                      <div class="skillbar-title"><span>SSRS</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">82%</div>
                  </div>
                  <!-- /.skillbar -->
              </div>

              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                  <div class="text_content">Office Skills</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->

              <div class="skills">
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="85%">
                      <div class="skillbar-title"><span>MS Excel</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">85%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="95%">
                      <div class="skillbar-title"><span>MS Word</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">95%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="90%">
                      <div class="skillbar-title"><span>MS Powerpoint</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">90%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="40%">
                      <div class="skillbar-title"><span>MS Visio</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">40%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="65%">
                      <div class="skillbar-title"><span>MS Project</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">65%</div>
                  </div>
                  <!-- /.skillbar -->

                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="89%">
                      <div class="skillbar-title"><span>MS Access</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">89%</div>
                  </div>
                  <!-- /.skillbar -->

              </div>


              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                  <div class="text_content">Language Skills</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->

              <div class="skills">
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="90%">
                      <div class="skillbar-title"><span>English</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">90%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="95%">
                      <div class="skillbar-title"><span>Afrikaans</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">95%</div>
                  </div>
                  <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix " data-percent="30%">
                      <div class="skillbar-title"><span>Southern Sotho</span></div>
                      <div class="skillbar-bar"></div>
                      <div class="skill-bar-percent">30%</div>
                  </div>
                  <!-- /.skillbar -->

              </div>


          </div>
          <!-- /.resume-right -->
          <!-- .resume-left -->
          <div class="col-md-6 resume-left">
              <!-- .title_content -->
              <div class="title_content" style="margin-bottom:5px">
                  <div class="text_content">Positions</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->
              <!-- .attributes -->
              <ul class="attributes">
                  <li class="first">
                      <h5>MCPD Lecturer <span class="duration"><i class="fa fa-calendar color"></i>Jan 2012 - Sept 2012</span></h5>
                      <h6><span class="fa fa-briefcase"></span> WW.IT-IQ</h6>
                      <a href="http://www.it-iq-worldwide.biz/"><span class="fa fa-globe"></span> http://www.it-iq-worldwide.biz/</a>
                      <p>Hentie Lectured the 2nd year students on the following modules: WPF, ADO.NET, Windows forms, C#, Basic HTML.</p>
                  </li>
                  <li>
                      <h5>Analyst Developer <span class="duration"><i class="fa fa-calendar color"></i> Sept 2012 - Dec 2013</span></h5>
                      <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies (PTY) Ltd</h6>
                      <a href="http://www.ellipsys.co.za/"><span class="fa fa-globe"></span> http://www.ellipsys.co.za/</a>
                      <p>Hentie started with a junior position where he worked on the Microsoft environment with database, windows and web application. Hentie also developer native android and ios application.</p>
                  </li>
                  <li>
                      <h5>Full Stack Developer <span class="duration"><i class="fa fa-calendar color"></i> Dec 2013 - current</span></h5>
                      <h6><span class="fa fa-briefcase"></span> BlueMonday</h6>
                      <a href="http://www.bluemonday.co.za"><span class="fa fa-globe"></span> http://www.bluemonday.co.za</a>
                      <p>Hentie is currently employed as a Team Lead/Senior Full Stack Developer at BlueMonday.</p>
                      <p>Hentie’s main responsibilities are:</p>
                      <ul>
                          <li>Full Stack Development</li>
                          <li>Managing Teams and Projects</li>
                          <li>Do Time Estimates and Proposals</li>
                          <li>Meeting with Clients</li>
                          <li>Code reviews and standards documentation</li>
                          <li>Host Interviews for BlueMonday</li>
                          <li>Train developers on latest code and standards</li>
                      </ul>
                  </li>

              </ul>
              <!-- /.attributes -->
              <br>

              <!-- .title_content -->
              <div class="title_content">
                  <div class="text_content">Education</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->
              <!-- .attributes -->
              <ul class="attributes">
                  <li class="first">
                      <h5>MCPD Certification<span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2012</span></h5>
                      <h6><span class="fa fa-book"></span> WW.IT-IQ</h6>
                      <p>Hentie completed his studies at WW.IT-IQ and was awarded with the top student award.</p>
                  </li>
                  <li>
                      <h5>Matric <span class="duration"><i class="fa fa-calendar color"></i> 2004 - 2009</span></h5>
                      <h6><span class="fa fa-book"></span> Highschool Henneman</h6>
                      <p>Hentie completed his matric with 2 distinctions.</p>
                  </li>
              </ul>
              <!-- /.attributes -->
              <br>


              <!-- .title_content -->
              <div class="title_content">
                  <div class="text_content">Awards</div>
                  <div class="clear"></div>
              </div>
              <!-- /.title_content -->
              <!-- .attributes -->
              <ul class="attributes">
                  <li class="first">
                      <h5>Top Student Award <span class="duration"><i class="fa fa-calendar color"></i> 2012/span></h5>
                      <h6><span class="fa fa-trophy"></span> WW.IT-IQ</h6>
                  </li>
                  <li>
                      <h5>Mobile Integration Award <span class="duration"><i class="fa fa-calendar color"></i> 2013</span></h5>
                      <h6><span class="fa fa-trophy"></span> Ellipsys Technologies (PTY) Ltd</h6>
                  </li>
                  <li>
                      <h5>Developer of the Year Award <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                      <h6><span class="fa fa-trophy"></span> BlueMonday</h6>
                  </li>
                  <li>
                      <h5>Double Edge Sword Award <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                      <h6><span class="fa fa-trophy"></span> BlueMonday</h6>
                  </li>
                  <li>
                      <h5>Double Edge Sword Award <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                      <h6><span class="fa fa-trophy"></span> BlueMonday</h6>
                  </li>
                  <li>
                      <h5>Team of the Year <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                      <h6><span class="fa fa-trophy"></span> BlueMonday</h6>
                  </li>

              </ul>
              <!-- /.attributes -->
              <br>

          </div>
          <!-- /.resume-left -->
      </div>

      <div style="clear: both"></div>



  </div>

</div>
<!-- End .resume -->
