<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Profile - Work Experience</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">
        <div class='row'>
          <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Projects</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
          <ul class="attributes">
              <li class="first">
                  <h5>Lead Software Developer <span class="duration"><i class="fa fa-calendar color"></i>March 2018 - April 2018</span></h5>
                  <h6><span class="fa fa-briefcase"></span> GTS - Global Token Sales</h6>
                  <p>Hentie developed a responsive web application which is currently used to list upcoming and Active Cryptocurrency Crowd sales(ICO). The system has an admin portal with CRUD operations on listings.  Hentie was responsible for the full-stack planning development and publish of the application.</p>
                  <p>The Application was developed using SQL Server 2016, MVC5, Bootstrap and Entity framework, with additional JavaScript libraries</p>
              </li>

              <li>
                  <h5>Lead Blockchain Specialist / CTO / Co-founder <span class="duration"><i class="fa fa-calendar color"></i> Jul 2017 - April 2018</span></h5>
                  <h6><span class="fa fa-briefcase"></span> TCH - TripCash</h6>
                  <p>TripCash is the first all-in-one travel platform designed to connect and merge the entire travel economy. Hentie was responsible for planning the project and compiling the whitepaper with his team. The project required a lot of research. Hentie was responsible for all technical operations such as building the token with the crowd sales smart contract on the Ethereum blockchain, developing the website, setup automated emails, ETL processes with 3rd party vendor for KYC verification and most importantly security.</p>

                  <p>The website was built using HTML5, CSS3, Bootstrap, moment.js, animate.js and additional JavaScript libraries. The client dashboard was built using WebAPI 2, MongoDB, Angular JS, and additional NPM packages and JavaScript libraries The smart contracts were built on solidity using open Zeppelin templates and node packages like truffle.js and Ethereum.js.</p>

              </li>

              <li>
                  <h5>Lead Software Developer <span class="duration"><i class="fa fa-calendar color"></i>Feb 2017 - Jul 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> BEE Tracker (PTY) Ltd</h6>
                  <p> Hentie and his team developed a BEE tracker application which uses all regulated element calculations to determine a company&rsquo;s BEE Score. The system uses AngularJS front-end and the back-end is driven by a C# Web API. The system uses MyGate payment gateway to handle debit orders from online customers. Hentie was responsible for the proposal, architecture, planning, development and documentation. The application will soon be released to production</p>
              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Jun 2017 - Oct 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Galaxy Med</h6>
                  <p>Hentie and his team developed a pharmaceutical search engine. The web application uses sentiment analysis to search medicine based on name, symptoms, ingredients and related medication. The system uses MongoDB as the database, which provides an impressive search performance. The application will soon be released into production.</p>

              </li>

              <li>
                  <h5>Lead Developer <span class="duration"><i class="fa fa-calendar color"></i>March 2016 - Feb 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices</h6>
                  <p> Hentie was responsible for architecture and development of Offline Capture. Offline Capture in a native mobile component of satellite viewer which download events and questionnaires. The system is used to capture questionnaires remotely (without an internet connection) and then uploading the information to the server. The app was written using Apache Cordova, Ionic, and Angular JS. The back end is driven by the communication layers built on a dynamic WCF service.</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Jun 2015 - Mar 2015</span></h5>
                  <h6><span class="fa fa-briefcase"></span> SAFTA: Vukani</h6>
                  <p> The Vukani Aviation Management system is an entire booking scheduler for a flight school. This includes all maintenance screens, Exam bookings, log books, instant messaging, alert, Stock take, predictive maintenance, etc. Hentie&rsquo;s Role on this project was to do the system architecture, setup the foundation solution and coding standards.  The system is build using MVC5 Entity Framework 6 and latest JavaScript web libraries</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Feb 2014 - Nov 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> DeBeer Mining - MinSFS</h6>
                  <p> MinSFS is a DeBeers Mine web system which is used for their diamond statistics and reporting. BlueMonday created custom interactive graphs for the MinSFS system. Hentie does upgrades each year on the graphs engine. The system runs on MVC3, SQL Server 2012, Telerik controls and a custom graph engine.</p>

              </li>

              <li>
                  <h5>Lead Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Jan 2015 - Dec 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Nandos: Staff Schedulers</h6>
                  <p> Staff Scheduler is a web application used in Nandos by each branch to schedule the all staff members monthly. Based on hours worked and position of each staff member the system displays the total sales per hour vs. labor per hour in real time. Hentie developed Phase 1 of this application and did phase 2 architecture.  The system runs on MVC4. The screen are data driven from knockoutjs calculation.</p>

              </li>

              <li>
                  <h5>Lead Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Jan 2015 - Dec 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Nandos: Production Planner</h6>
                  <p>Production Planner is a data driven application which behaves as a SPA (Single Page Application) by the use of Knockout running on MVC. The BI team from Nandos gave Hentie access to all the historic sales and inventory items. Hentie used the historic data to predict each day&rsquo;s sales per hours, as well as production plans; at 10:00 am 26 chicken breasts need to be split between 2 ovens. They also predict when the next order should be with the amount for each inventory item. Production Planner is mobile friendly and provides dialed reports. Hentie&rsquo;s role in Production Planner: He wrote phase one of Production Planner, attended all meetings and handled product releases. In Phase 2, He did the architecture for the upgrade and the technical spec. Another developer assist with the changes, and then gave received ownership.</p>

              </li>

              <li>
                  <h5>Intermediat Developer <span class="duration"><i class="fa fa-calendar color"></i>Oct 2014 - Apr 2015</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Nandos: Document Viewer</h6>
                  <p> Hentie developed for Nandos. Nandos uses Document Viewer to manage all documents. Document Viewer categorized all documents. The reason for Document Viewer, instead of a simpler solution such as SharePoint, was due to Nandos having all documents in a SQL database as XPS. The system also has tracking capabilities to report which user has read which document. This was one of Hentie&rsquo;s biggest challenges to read XPS bytes from the database and convert the document into PDF documents.  Conversion speed played a big part in this application. </p>

              </li>

              <li>
                  <h5>Intermediat Developer <span class="duration"><i class="fa fa-calendar color"></i>Dec 2013 - Nov 2016</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Blackstar (Pty) Ltd: GoPrasa</h6>
                  <p> GoPrasa is the client booking interface of the Star system. Hentie developed a fully responsive web application for customers to make booking for buses and trains. Hentie gained a lot of CSS experience from this project. Hentie had to build in secure EFT and Credit Payment Gateways.</p>

              </li>

              <li>
                  <h5>Intermediat Developer <span class="duration"><i class="fa fa-calendar color"></i>Dec 2013 - Apr 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> Blackstar (Pty) Ltd: Star System</h6>
                  <p> Star is an admin system which manages the entire platform of Blackstar, whom provides systems for transport companies like Translux, CityToCity, etc. This system handled ticket registrations, bookings and reservations, Bus route setups, reporting and a lot more. Hentie and the team consisted of 5 developers where they also got the opportunity to work with hardware such as ticked scanners and printers.  Hentie left the team to go work on another project and lead his own team. Hentie currently supports developers on the star system where they might need assistance with new technology a meeting a deadline.</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Aug 2015 - Sept 2016</span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: Benefit Mall</h6>
                  <p> Benefit mall is an online shopping mall. The application reads categories products and vouchers from multiple venders and exposes the products on the benefit mall user interface. An admin is available where the client can allocate specific products and categories to specific clients. Hentie developed the web application using MVC 4, Entity Framework, WCF, Bootstrap and JQuery web components</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Aug 2015 - Sept 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: RSS Feeder</h6>
                  <p> The Client required an article feeder which should have the capability to download feeds from 3rd party providers into a local database. A daily job had to be developed to push latest articles into each WordPress multisite directly into the database. Hentie had to understand MySQL database, do the architecture and setup the rules and conditions for the upload and download of the articles</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Nov 2014 - Jun 2017</span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: SSO PHP Plugin</h6>
                  <p> The client runs a WordPress multisite. The sub-sites required SSO (Single Sign On) integration with an Identity Provider hosted and managed in Canada.  The best solution to achieve this, was for Hentie to learn PHP, understand the WordPress authentication, as well as SAML2. WordPress runs on a secure Linux server, where Hentie acquired Linux experience to be able to publish the SSO WordPress plugin. Hentie&rsquo;s role on this project was to plan and provide the best solution, attend all conference calls and meetings, give time estimates and costs, and the development.</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>Mar 2014 - Feb 2015/span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: Goal Setting</h6>
                  <p> Goal Setting is an external tool that Hentie built to manage and track goals and actions. This application was intentionally created to assign goals and actions on Satellite Viewer. Functionality like automated assigning goals, based on questions answers was created as well as a storyline, based on condition of a questionnaire. Hentie developed a dashboard on JQuery mobile which is the customer portal to everyone&rsquo;s goals. This tool is now being implemented into a lot of our other applications along with Gamification.</p>

              </li>

              <li>
                  <h5>Lead Developer <span class="duration"><i class="fa fa-calendar color"></i>Dec 2013 - Current/span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: Satellite Viewer</h6>
                  <p> Satellite Viewer is a robust and reliable system that is designed to manage members&rsquo; health, fitness and diet by using questionnaires which can be completed from a variety of services, such as call centers, financial departments, nurses and the individual self.</p>
                  <p>The objective of Satellite Viewer is to simplify the capturing of questionnaires and speed up the process of gathering member information. Satellite Viewer accommodates any type of questionnaire, multiple choice questionnaires, customers and organizations.   Satellite Viewer provides functionality to create and setup questionnaires and assign to relevant customers. This application currently runs as an Enterprise framework for all other 3rd party applications and reporting services.</p>
                  <p>Hentie worked on this application alone for 6 months.  After 6 months, He started training new developers on this Satellite Viewer to assist with support Satellite Viewer has now been live for over 3 years.</p>

              </li>

              <li>
                  <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i>jan 2014 - Jul 2015/span></h5>
                  <h6><span class="fa fa-briefcase"></span> HealthiChoices (Pty) Ltd: Mobile Framework</h6>
                  <p> Mobile Framework is part of the Enterprise framework that Hentie worked on. This application is written in JQuery mobile and hosted on Azure. It has both an admin and client portal. The admin can style and theme as well as configure the client application,  Client portals gave user the functionality to read article allocated to them, a call me button to interact with the mobile device. The client also had an inbox and a wellbeing division. Signal R was used for instant messaging, and tools like Azure SendGrid was used for email communications. Hentie&rsquo;s role on this project was at update the system, and build the admin portal. Ownership of this project has been handed over to Hentie.</p>

              </li>

              <li>
                  <h5>Junior Mobile Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                  <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - VDA IOS </h6>
                  <p> VDA was required to run on an IPhone and IPad. Hentie developed the IOS version on the VDA system. The application was never released for IOS, because a purchase for the Barcode scanning SDK was needed and is just too expensive. The IOS VDA scanner was discontinued. The Application was written in XCode using the language: Objective-C.</p>

              </li>

              <li>
                  <h5>Junior Mobile Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                  <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - Android IOS </h6>
                  <p> VDA Scanner is a mobile application that services as a client app for www.whatsthedamage.co.za. After a user is registered on the system, they log onto the applications. From there they can add a new client, capture a vehicle manually or the best part, scan the license disk barcode, which will send data to Transunion and back in less than a second to provide you with all the details of the vehicle. Assessments can then be done from there. VDA Scanner was released on the Google play store and is currently being used by clients from the whatsthedamage website. Hentie wrote the application in Eclipse using xml and java.</p>

              </li>

            </ul>

            <li>
                <h5>Junior Mobile Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - WhatsTheDamage </h6>
                <p> Whatsthedamage was the latest website hosted by Ellipsys. Hentie was the QA tester for the website, with reason to understand all concepts of whatsthedamage for the mobile development which he needed to do.</p>

            </li>

            <li>
                <h5>Junior Mobile Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - Regent Insurance </h6>
                <p> WINS is the web version of RIMS currently running on Framework 3.5 VB.net. The database is driven by the same oracle database as RIMS. Hentie&rsquo;s areas to manage on WINS were: 1. Motor Division Dashboards 2. Blackbox Quoting system 3. Windows services 4. System Users</p>

            </li>

            <li>
                <h5>Analyst Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - Regent Insurance WINS </h6>
                <p> WINS is the web version of RIMS currently running on Framework 3.5 VB.net. The database is driven by the same oracle database as RIMS. Hentie&rsquo;s areas to manage on WINS were: 1. Motor Division Dashboards 2. Blackbox Quoting system 3. Windows services 4. System Users</p>
                <p>Hentie also worked on other departments such as: 1. POS &ndash; Point of sales 2. Travel 3. Accounts Working on WINS gave Hentie exposure to Web services, Windows Services, Ajax, Java script, HTML, VB.net, Telerik controls, etc.</p>

            </li>

            <li>
                <h5>Analyst Developer <span class="duration"><i class="fa fa-calendar color"></i>Sep 2012 - Nov 2013/span></h5>
                <h6><span class="fa fa-briefcase"></span> Ellipsys Technologies PTY (LTD) - Regent Insurance RIMS </h6>
                <p> RIMS is an enormous windows forms application developed in Visual Basic 6. This application is used by all Regent Insurance. Hentie did support and development on the application. The Database was driven by Oracle. Hentie worked on reports, claims forms, month end processes and commission factoring.</p>

            </li>
        </div>

      </div>
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
